.full-day {
    background-color: red;
    color: white;
  }
  
  .partial-day {
    background-color: orange;
    color: black;
  }
  
  .available-day {
    background-color: green;
    color: black;
  }